frontend/package-lock.json
/DataPipeLine/Version1/data
/DataPipeLine/Version1/datasets
/DataPipeLine/Version3/test
/DataPipeLine/Version3/vaild
/DataPipeLine/Version3/train
/DataPipeLine/Version2/Medicine Detection.v1i.yolov11
/DataPipeLine/huseong
/DataPipeLine/negative_samples
/DataPipeLine/Version2/SAMPLE
/DataPipeLine/Version3/valid