frontend/package-lock.json

frontend/package-lock.json
/.metadata/
# DataPipeLine - Data & Datasets
/DataPipeLine/01_collection/huseong/
/DataPipeLine/01_collection/negative_samples/
/DataPipeLine/03_datasets/Version*
/DataPipeLine/04_training/*.zip
/DataPipeLine/04_training/*.pt
/DataPipeLine/01_collection/huseong/trash/

# IDE
.idea/
*.iml
.vscode/
.classpath
.project
.settings/

# Environment
.env
.env.local
.env.*

# Build artifacts
*.class
bin/
build/
.gradle/
